Import Packages

In [1]:
import pandas as pd
from scipy import stats

Import Data

In [2]:
Lead_Lipstick = pd.read_csv(r'C:/Users/Hanna Bohannon/Documents/DSO105C/DSO105C Datasets/lead_lipstick.csv')
Lead_Lipstick.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

Create a Contingency Table

In [3]:
Lead_Lipstick_crosstab = pd.crosstab(Lead_Lipstick['shade'], Lead_Lipstick['priceCatgry'])

Running the Independent Chi-Square

In [4]:
stats.chi2_contingency(Lead_Lipstick_crosstab)

(7.860569553614045,
 0.2484973879479863,
 6,
 array([[14.26008969, 36.32286996,  9.41704036],
        [19.25112108, 49.03587444, 12.71300448],
        [ 8.79372197, 22.39910314,  5.80717489],
        [10.69506726, 27.24215247,  7.06278027]]))